body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.span{
    width: 100%;
    background-color: blanchedalmond;
    text-align: center;
    padding: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px); /* Each square is 300px wide */
    gap: 50px; /* Adjust the gap between squares as needed */
    justify-content: center; /* Centers the grid horizontally */
    align-content: center; /* Centers the grid vertically */
    padding: 40px; /* Adds padding around the grid */
}

.square {
    width: 300px;
    height: 300px;
    background-color: lightgreen;
    padding: 0;
    display: grid;
    align-self: end; /* Aligns the square to the bottom of the parent grid */
    justify-self: start; /* Aligns the square to the left of the parent grid */
}
.squareContent{
    background-color: #f0f0f0;
    padding:10px;
    align-self: end; /* Aligns the content to the bottom of the square */
    justify-self: start; /* Aligns the content to the left of the square */
    font-size: 24px;
}


.navbar {
    background-color: aqua;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.nav-item {
    margin-right: 20px;
    color: white;
    cursor: pointer;
}

.nav-item:last-child {
    margin-right: 0;
}
.jumbotron {
    height: 300px;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 80px;
}

.jumbotron-heading {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.lead {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: transparent;
    color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #f0f0f0;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}